@model GestorTarefas.Models.PessoaTarefaViewModel

@{
    ViewData["Title"] = "Criar Tarefa";
}
<br>
<h1>Criar Tarefa</h1>
<hr>
<form asp-controller="Tarefa" asp-action="Criar" method="post">
    <div style="width: 50px;">
        <div>
            <label asp-for=@Model.Tarefa.Nome>Nome</label>
            <input asp-for=@Model.Tarefa.Nome type="text" style="width: 200px;">
        </div>
        <div>
            <label asp-for=@Model.Tarefa.FeitoOuNao>FeitoOuNao</label>
            <input asp-for=@Model.Tarefa.FeitoOuNao type="number" placeholder="Feito = 1 / AindaNao = 2"
                style="width: 200px;">
        </div>
    </div>
    <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Criar Tarefa</button>
</form>
<a asp-controller="Pessoa" asp-action="TodasPessoas" class="btn btn-secondary" style="margin-top: 5px;">Todas
    Pessoas</a>
